* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 248, 255);
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary {
  background-color: #4E47FF;
  color: #ffffff;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-primary:active {
  opacity: 0.5;
}

/* header styles */
.header-container {
  background-image: url(../Assets/Hero-bg.png);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0;
}

.navbar h3 {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: #4E47FF;
}

/* Banner styles */
.banner {
  max-width: 900px;
  text-align: center;
  margin: 150px auto;
  padding-bottom: 200px;
}

.banner h1 {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 38px;
}

/* action styles */
.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 120px auto;

}

.action-info h3 {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #252432;
}

.action-info p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  max-width: 515px;
  line-height: 30px;
  margin: 23px 0;
}

.action-container img {
  border-radius: 48px;
}

/* productive user styles */
.productive-user-container {
  max-width: 1140px;
  margin: 120px auto;
  padding: 50px 80px;
  background-color: rgba(77, 71, 255, 0.1);
  border-radius: 24px;
  text-align: center;
}

.productive-user-title {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 50px;
}

.productive-user-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-count h3 {
  font-family: "Inter", sans-serif;
  font-size: 85px;
  font-weight: 700;
  color: #4E47FF;
}

.user-count p {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

/* Review section styles */
.review-container {
  max-width: 1140px;
  margin: 135px auto;
  text-align: center;
}

.review-container h2 {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 50px;
}

.review-card-container {
  display: flex;
  gap: 20px;
}

.review-card {
  width: 350px;
  text-align: left;
  padding: 24px;
  border: 1px solid #F2EDED;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.5);
}

.review-card h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 8px;
}

.review-card p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin-bottom: 24px;
}

.reviewer-info-container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.reviewer-info-container img {
  border-radius: 50%;
  width: 40px;
}

.reviewer-info h4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 3px;
}

.reviewer-info p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #B3B3B3;
}

/* Focus section styles */
.focus-container {
  max-width: 1140px;
  margin: 130px auto;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  padding: 70px 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.focus-container h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.focus-container p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.focus-container img {
  border-radius: 48px;
  max-width: 840px;
  margin-top: 10px;
}

/* contact sections styles */
.contact-container {
  max-width: 1140px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 95px;
  font-weight: bold;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input[type="email"], .contact-form input[type="text"], .contact-form textarea {
  padding: 20px 32px;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid #D6DDED;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 80px;
  background-color: white;
}

.footer h2 {
  font-family: "Inter", sans-serif;
  font-size: 100px;
  font-weight: 900;
  color: #4E47FF;
}

.footer p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #8987A1;
  line-height: 40px;
  max-width: 530px;
  margin: 10px auto;
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

ul a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #8987A1;
}